
  <textarea class="add_toolbar wysiwyg" name=content placeholder="Geben Sie hier Ihre Notizen hier ein">{{{content}}}</textarea>
  <button name=save class=button>Speichern</button>
  <button name=cancel class=button>Abbrechen</button>

  <div style="border: 3px solid #f39c12;margin:10px 0px; padding: 26px 3px; text-align: center;">Diese Notiz ist <b>nur</b> für Ihren Supervisor sichtbar</div>
