<div class="eportfolio-note">

  {{#is_dozent}}
    {{#viewMode}}

      <div style="border-left: 3px solid #f39c12; padding-left: 20px;" class="eportfolio-note-header">

        <div class="header-left">
          <h3><i class="fa fa-binoculars" aria-hidden="true"></i> ePortfolio Notiz</h3>
        </div>

        <div class="header-right">
            <div id="eportfolioblocksupervisor-block" class="eportfolio-note-header-icon">


              <!-- <div id="eportfolioblocksupervisor-tooltip" class="eportfolio-note-header-tooltip" style="width:231px;">
                Nur für Ihren Supervisor sichtbar
                <div class="eportfolio-note-header-tooltip-arrow"></div>
              </div> -->

            </div>
        </div>

        <div class="" style="clear:both;"></div>



      </div>

    {{/viewMode}}
    <div class="content eportfolioBlock ePortfolioContent">{{{content}}}</div>
  {{/is_dozent}}



  {{#is_student}}

  {{/is_student}}


</div>
