<div style="border-left: 3px solid #e74c3c; padding-left: 20px;" class="eportfolio-note-header">

      <div class="header-left">
          <h3>Notiz</h3>
      </div>

      <div class="header-right">
        <div id="eportfolioblock-block" class="eportfolio-note-header-icon">

        </div>
      </div>

      <div class="" style="clear:both;"></div>

<div class="content eportfolioBlock ePortfolioContent">{{{content}}}</div>

